.score {
  display: block;
  position: absolute;
  top: 2vw;
  z-index: 1;
  font-size: 1.5vw;
  left: 50%;
  transform: translate(-50%, 0);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  color: #425af2;
}
.controls {
  display: block;
  position: absolute;
  line-height: 1.5rem;
  top: 4vw;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 1vw;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #00008b;
}

.button {
  display: block;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 1vw;
  cursor: pointer;
  background-color: #e4c9dd;
}
